<nav>
  <h1>Full-Stack JS QAP3</h1>
  <a href="/">[home]</a>
  <a href="/get-customer">[customer]</a>
  <a href="/films">[film library]</a>
  <a href="/films-not-returned">[films out]</a>
  <a href="/top-rentals-store-select">[top grossing]</a>
</nav>
