<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <form method="GET" action="/getCustomerIdForm">
      <label for="customer_id">Enter your Customer ID:</label>
      <input type="number" id="customer_id" name="customerIdText" />
      <button type="submit" value="0">SUBMIT</button>
    </form>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
