<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Full-Stack JavaScript QAP 3</h1>
    <h2>Chris Doucette</h2>
    <p class="home-paragraph">
      Understanding the Full-Stack end-to-end and the best practices in their
      design combined with the ability to build a RESTful API with Node,
      Express, EJS, and PostgreSQL is a desired technical skill. APIs are
      everywhere and most software technology companies providing services on
      the internet have many APIs, and related user interfaces, to get at their
      data.
    </p>
    <p class="home-paragraph">
      The problem for this QAP3 is to build an API and simple user interface
      against the dvdrentals database. An important part of this QAP is to have
      your node js scripts access the embedded SQL as database VIEWS to retrieve
      data from the dvdrentals database.
    </p>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
