<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="nodata content">
      <h2>No records returned for you search. Please try again!</h2>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
